<h4>Comprobacion</h4>

<div class="row">
	<div class="col-md-6 mb-4">
		<h5>Datos Cliente</h5>
		<div class="card">
			<div class="card-body text-center">
				<h5 class="card-title"> Correo: <%= current_user.email %> </h5>
				<p class="card-text"> Peso:<%= @contract.weight %> </p>
				<p class="card-text"> Estatura: <%= @contract.height %> </p>
				<p class="card-text"> Edad:<%= @contract.age %> </p>
				<p class="card-text"> Sexo:<%= @contract.sex %> </p>
				<p class="card-text"> Objetivo:<%= @contract.goal %> </p>
				<p class="card-text"> Estado:<%= @contract.pending %> </p>
				<p class="card-text"> Inicio:<%= @contract.start_date %> </p>
				<p class="card-text"> Termino:<%= @contract.end_date %> </p>
		 	</div>
		</div>
	</div>
</div>
