<br><br><br>
<% if @plan.contract_type == 1%>
	<h3>Editar Plan Entrenamiento</h3>
<% elsif @plan.contract_type == 2 %>
	<h3>Editar de Plan Nutricional </h3>
<% else %>
	<h3>Editar Plan Entrenamiento y nutrición</h3>
<% end %>


<div class="row">
	<div class="col-md-4 mb-4">
		<div class="card card-new h-100 border-dark mb-3">
			<div class="card-header">
				<% if @user.name.present? %>
					<h5 class="card-title text-center"> <%= @user.name %> </h5>
				<% else %>
					<h5 class="card-title text-center"> <%= @user.email %> </h5>
				<% end %>
			</div>
			<div class="card-body">
				<% if @plan.contract_type == 1%>
					<p class="card-text">Tipo plan: Plan Entrenamiento</p>
				<% elsif @plan.contract_type == 2 %>
					<p class="card-text">Tipo plan: Plan Nutrición</p>
				<% else %>
					<p class="card-text">Tipo plan: Plan Entrenamiento con Nutrición </p>
				<% end %>
				<p class="card-text">Duracion plan: <%= @plan.duration %> Mes(es)</p>
				<p class="card-text">Descripcion: <%= @plan.description %> </p>
		 	</div>
		</div>
	</div>
	<div class="offset-md-2 col-md-4 mb-4">
		<div class="card card-new h-100 border-dark mb-3">
			<div class="card-header">
				<h5 class="card-title text-center"> Datos Cliente </h5>
			</div>
			<div class="card-body">
				<p class="card-text">Edad: <%= @contract.age %> </p>
				<% if @contract.sex == 1 %>
					<p class="card-text">Sexo: Masculino </p>
				<% else %>
					<p class="card-text">Sexo: Femenino </p>
				<% end %>
				<p class="card-text">Peso: <%= @contract.weight %> kg </p>
				<p class="card-text">Estatura: <%= @contract.height %> cms </p>
				<p class="card-text">Categoría: <%= @contract.category %> </p>
				<p class="card-text">Objetivo: <%= @contract.goal %> </p>
		 	</div>
		</div>
	</div>
</div>


<h4>Plan</h4>

<% if @plan.contract_type == 1 %>

	<div class="row">
		<div class="col-md-4 mb-4">
			<%=form_with(model: [@plan, @contract, @user ,@program], local: true) do |form| %>
				<%=form.label :entrenamiento %> <br>
				<%=form.text_area(:training, rows: 20, cols: 50, placeholder: 'Ingrese Rutina Entrenamiento', class: 'form-control') %>
				<br>
				<%= form.submit 'Editar', class: 'btn btn-primary' %>
				<br>
				<%= link_to 'Volver a edición', user_contracts_path %>
			<% end %>
		</div>
	</div>

<% elsif @plan.contract_type == 2 %>

	<div class="row">
		<div class="col-md-4 mb-4">
			<%=form_with(model: [@plan, @contract, @user ,@program], local: true) do |form| %>
				<%=form.label :nutrición %> <br>
				<%=form.text_area(:nutrition, rows: 20, cols: 50, placeholder: 'Ingrese Plan Nutricional', class: 'form-control') %>
				<br>
				<%= form.submit 'Editar', class: 'btn btn-primary' %>
				<br>
				<%= link_to 'Volver a edición', user_contracts_path %>
			<% end %>
		</div>
	</div>

<% else %>

	<div class="row">
			<%=form_with(model: [@plan, @contract, @user ,@program], local: true) do |form| %>
				<%=form.label :entrenamiento %> <br>
				<%=form.text_area(:training, rows: 20, cols: 50, placeholder: 'Ingrese Rutina Entrenamiento', class: 'form-control') %>
				<%=form.label :nutricion %> <br>
				<%=form.text_area(:nutrition, rows: 20, cols: 50, placeholder: 'Ingrese Plan Nutricional', class: 'form-control') %>
				<br>
				<%= form.submit 'Editar', class: 'btn btn-primary' %>
				<br>
				<%= link_to 'Volver a edición', user_contracts_path %>
			<% end %>
	</div>
<% end %>
