<%= form_with(model: [@result.user, @result]) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-text form-group">
    <%= f.label :cien_metros %>
    <em>(Seg)</em>
    <%= f.number_field :hundred_mts, in: 7...200, placeholder: 'Ingrese Resultado', class: 'form-control'  %>
  </div>
  <div class="field form-text form-group">
    <%= f.label :doscientos_metros %>
    <em>(Seg)</em>
    <%= f.number_field :two_hundred_mts, in: 14...200, placeholder: 'Ingrese Resultado', class: 'form-control'   %>
  </div>
  <div class="field form-text form-group">
    <%= f.label :trescientos_metros %>
    <em>(Seg)</em>
    <%= f.number_field :three_hundred_mts, in: 21...200, placeholder: 'Ingrese Resultado', class: 'form-control'   %>
  </div>
  <div class="field form-text form-group">
    <%= f.label :cuatrocientos_metros %>
    <em>(Seg)</em>
    <%= f.number_field :four_hundred_mts, in: 28...200, placeholder: 'Ingrese Resultado', class: 'form-control'   %>
  </div>
  <div class="field form-text form-group">
    <%= f.label :ochocientos_metros %>
    <em>(Seg)</em>
    <%= f.number_field :eight_hundred_mts, in: 50...200, placeholder: 'Ingrese Resultado', class: 'form-control'   %>
  </div>
  <div class="field form-text form-group">
    <%= f.label :mil_metros %>
    <em>(Seg)</em>
    <%= f.number_field :thousand_mts, in: 70...200, placeholder: 'Ingrese Resultado', class: 'form-control'   %>
  </div>
  <div class="field form-text form-group">
    <%= f.label :mil_quinientos_metros %>
    <em>(Seg)</em>
    <%= f.number_field :thousand_five_hundred_mts, in: 100...200, placeholder: 'Ingrese Resultado', class: 'form-control'   %>
  </div>
  <div class="field form-text form-group">
    <%= f.label :test_de_cooper %>
    <em>(Mts)</em>
    <%= f.number_field :cooper_test, in: 800...5000, placeholder: 'Ingrese Resultado', class: 'form-control'   %>
  </div>
  <div class="field form-text form-group">
    <%= f.label :sentadilla_maxima %>
    <em>(Kg)</em>
    <%= f.number_field :squat_rm, in: 20...500, placeholder: 'Ingrese Resultado', class: 'form-control'   %>
  </div>
  <!--
  <div class="field form-text form-group">
    <%= f.label :date %><br />
    <%= f.date_select :date, class: 'datepicker' %>
  </div>
  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
