<h3>Resultados</h3>

<!--Version individual-->
<%#= area_chart @results.group_by_month(:date).sum(:hundred_mts), max: (@promedio_100*2) , xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ","%>
<!--Version grupal-->
<%#= area_chart Result.group_by_month(:date).sum(:two_hundred_mts), xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ","%>

<!--2 formas distintas-->
<%#= area_chart @results.group_by_month(:date).sum(:hundred_mts) , xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ","%>
<%#= area_chart [
  {name: "Resultados", data: (@results.group_by_month(:date).sum(:hundred_mts)) },
  {name: "Promedio", data: (Result.group_by_month(:date).maximum(:hundred_mts))},
], xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ","%>

<div class="row">
  <div class="col-md-6">
    <h4>100 mts</h4>
    <%= line_chart [
      {name: "Peor Marca", data: (@results.group_by_month(:date).maximum(:hundred_mts)) },
      {name: "Mejor Marca", data: (@results.group_by_month(:date).minimum(:hundred_mts)) },
      {name: "Mejor Marca General", data: (Result.group_by_month(:date).minimum(:hundred_mts))},
    ], xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ",", messages: {empty: "No hay Información"} %>
  </div>
  <div class="col-md-6">
    <h4>200 mts</h4>
    <%= line_chart [
      {name: "Peor Marca", data: (@results.group_by_month(:date).maximum(:two_hundred_mts)) },
      {name: "Mejor Marca", data: (@results.group_by_month(:date).minimum(:two_hundred_mts)) },
      {name: "Mejor Marca General", data: (Result.group_by_month(:date).minimum(:two_hundred_mts))},
    ], xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ",", messages: {empty: "No hay Información"} %>
  </div>
  <div class="col-md-6">
    <h4>300 mts</h4>
    <%= line_chart [
      {name: "Peor Marca", data: (@results.group_by_month(:date).maximum(:three_hundred_mts)) },
      {name: "Mejor Marca", data: (@results.group_by_month(:date).minimum(:three_hundred_mts)) },
      {name: "Mejor Marca General", data: (Result.group_by_month(:date).minimum(:three_hundred_mts))},
    ], xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ",", messages: {empty: "No hay Información"} %>
  </div>
  <div class="col-md-6">
    <h4>400 mts</h4>
    <%= line_chart [
      {name: "Peor Marca", data: (@results.group_by_month(:date).maximum(:four_hundred_mts)) },
      {name: "Mejor Marca", data: (@results.group_by_month(:date).minimum(:four_hundred_mts)) },
      {name: "Mejor Marca General", data: (Result.group_by_month(:date).minimum(:four_hundred_mts))},
    ], xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ",", messages: {empty: "No hay Información"} %>
  </div>
  <div class="col-md-6">
    <h4>800 mts</h4>
    <%= line_chart [
      {name: "Peor Marca", data: (@results.group_by_month(:date).maximum(:eight_hundred_mts)) },
      {name: "Mejor Marca", data: (@results.group_by_month(:date).minimum(:eight_hundred_mts)) },
      {name: "Mejor Marca General", data: (Result.group_by_month(:date).minimum(:eight_hundred_mts))},
    ], xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ",", messages: {empty: "No hay Información"} %>
  </div>
  <div class="col-md-6">
    <h4>1000 mts</h4>
    <%= line_chart [
      {name: "Peor Marca", data: (@results.group_by_month(:date).maximum(:thousand_mts)) },
      {name: "Mejor Marca", data: (@results.group_by_month(:date).minimum(:thousand_mts)) },
      {name: "Mejor Marca General", data: (Result.group_by_month(:date).minimum(:thousand_mts))},
    ], xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ",", messages: {empty: "No hay Información"} %>
  </div>
  <div class="col-md-6">
    <h4>1500 mts</h4>
    <%= line_chart [
      {name: "Peor Marca", data: (@results.group_by_month(:date).maximum(:thousand_five_hundred_mts)) },
      {name: "Mejor Marca", data: (@results.group_by_month(:date).minimum(:thousand_five_hundred_mts)) },
      {name: "Mejor Marca General", data: (Result.group_by_month(:date).minimum(:thousand_five_hundred_mts))},
    ], xtitle: "Fecha", ytitle: "Tiempo", suffix: " seg", thousands: ".",decimal: ",", messages: {empty: "No hay Información"} %>
  </div>
  <div class="col-md-6">
    <h4>Test de Copper</h4>
    <%= line_chart [
      {name: "Peor Marca", data: (@results.group_by_month(:date).minimum(:cooper_test)) },
      {name: "Mejor Marca", data: (@results.group_by_month(:date).maximum(:cooper_test)) },
      {name: "Mejor Marca General", data: (Result.group_by_month(:date).maximum(:cooper_test))},
    ], xtitle: "Fecha", ytitle: "Distancia", suffix: "mts", thousands: ".",decimal: ",", messages: {empty: "No hay Información"} %>
  </div>
  <div class="col-md-6">
    <h4>Sentadilla Máximo</h4>
    <%= line_chart [
      {name: "Peor Marca", data: (@results.group_by_month(:date).minimum(:squat_rm)) },
      {name: "Mejor Marca", data: (@results.group_by_month(:date).maximum(:squat_rm)) },
      {name: "Mejor Marca General", data: (Result.group_by_month(:date).maximum(:squat_rm))},
    ], xtitle: "Fecha", ytitle: "Peso", suffix: " Kg", thousands: ".",decimal: ",", messages: {empty: "No hay Información"} %>
  </div>
</div>

<!--scaffold
<h1>Listing results</h1>

<table >
  <tr>
    <th>Date</th>
    <th>Hundred mts</th>
    <th>Two hundred mts</th>
    <th>Three hundred mts</th>
    <th>Four hundred mts</th>
    <th>Eight hundred mts</th>
    <th>Thousand mts</th>
    <th>Thousand five hundred mts</th>
    <th>Cooper test</th>
    <th>Squat rm</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%# @results.each do |result| %>
  <tr>
    <td><%#= result.date %></td>
    <td><%#= result.hundred_mts %></td>
    <td><%#= result.two_hundred_mts %></td>
    <td><%#= result.three_hundred_mts %></td>
    <td><%#= result.four_hundred_mts %></td>
    <td><%#= result.eight_hundred_mts %></td>
    <td><%#= result.thousand_mts %></td>
    <td><%#= result.thousand_five_hundred_mts %></td>
    <td><%#= result.cooper_test %></td>
    <td><%#= result.squat_rm %></td>
    <td><%#= link_to 'Show', [result.user, result] %></td>
    <td><%#= link_to 'Edit', edit_user_result_path(result.user, result) %></td>
    <td><%#= link_to 'Destroy', [result.user, result], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<%# end %>
</table>

<br />
-->

<%= link_to 'New Result', new_user_result_path(params[:user_id]) %>
|
<% if can?(:create, :program)%>
  <%= link_to 'Volver', user_contracts_path %>
<% else %>
  <%= link_to 'Volver', profile_path %>
<% end %>
