<br><br><br>
<p id="notice"><%= notice %></p>

<h4>Comprobacion</h4>

<div class="row">
	<div class="col-md-6 mb-4">
		<h5>Datos Resultado</h5>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"> Fecha: <%= @result.date %> </h5>
				<p class="card-text"> 100 mts:<%= @result.hundred_mts %> </p>
				<p class="card-text"> 200 mts: <%= @result.two_hundred_mts %> </p>
				<p class="card-text"> 300 mts: <%= @result.three_hundred_mts %> </p>
				<p class="card-text"> 400 mts: <%= @result.four_hundred_mts %> </p>
				<p class="card-text"> 800 mts: <%= @result.eight_hundred_mts %> </p>
				<p class="card-text"> 1000 mts: <%= @result.thousand_mts %> </p>
				<p class="card-text"> 1500 mts: <%= @result.thousand_five_hundred_mts %> </p>
				<p class="card-text"> Test cooper: <%= @result.cooper_test %> </p>
				<p class="card-text"> sentadillas: <%= @result.squat_rm %> </p>
		 	</div>
		</div>
	</div>
</div>

<!--
<p>
  <b>Fecha:</b>
  <%= @result.date %>
</p>

<p>
  <b>100 mts:</b>
  <%= @result.hundred_mts %>
</p>

<p>
  <b>200 mts:</b>
  <%= @result.two_hundred_mts %>
</p>

<p>
  <b>300 mts:</b>
  <%= @result.three_hundred_mts %>
</p>

<p>
  <b>400 mts:</b>
  <%= @result.four_hundred_mts %>
</p>

<p>
  <b>800 mts:</b>
  <%= @result.eight_hundred_mts %>
</p>

<p>
  <b>1000 mts:</b>
  <%= @result.thousand_mts %>
</p>

<p>
  <b>1500 mts:</b>
  <%= @result.thousand_five_hundred_mts %>
</p>

<p>
  <b>Test de Cooper:</b>
  <%= @result.cooper_test %>
</p>

<p>
  <b>Squat rm:</b>
  <%= @result.squat_rm %>
</p>
-->

<%#= link_to 'Edit', edit_user_result_path(@result.user, @result) %>
<%#= link_to 'Back', user_results_path(@result.user) %>

<%= link_to 'Volver perfil', profile_path %>
