<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @result.date %>
</p>

<p>
  <strong>Cincuenta mts:</strong>
  <%= @result.cincuenta_mts %>
</p>

<p>
  <strong>Cien mts:</strong>
  <%= @result.cien_mts %>
</p>

<p>
  <strong>Doscientos mts:</strong>
  <%= @result.doscientos_mts %>
</p>

<p>
  <strong>Cuatrocientos mts:</strong>
  <%= @result.cuatrocientos_mts %>
</p>

<p>
  <strong>Ochocientos mts:</strong>
  <%= @result.ochocientos_mts %>
</p>

<p>
  <strong>Mil quinientos mts:</strong>
  <%= @result.mil_quinientos_mts %>
</p>

<p>
  <strong>User:</strong>
  <%= @result.user %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
