
<div class="container">
	<div class="row">
		<div class="offset-md-5 col-md-3">
			<h5>Entrenamiento en línea</h5>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>


<div class="row">
	<% @plans.order("duration").each do | plans | %>
		<div class="col-md-4 mb-4">
			<div class="card card-index h-100">
				<% if plans.contract_type == 1%>
					<%= image_tag("cart1.jpg",class: "card-img-top", size: "200x200", alt: "...")%>
				<% elsif plans.contract_type == 2 %>
					<%= image_tag("cart2.jpg",class: "card-img-top", size: "200x200", alt: "...")%>
				<% else %>
					<%= image_tag("cart3.jpg",class: "card-img-top", size: "200x200", alt: "...")%>
				<% end %>
				<div class="card-body text-center">
					<% if plans.contract_type == 1%>
						<h5 class="card-title"> Plan Entrenamiento </h5>
					<% elsif plans.contract_type == 2 %>
						<h5 class="card-title"> Plan Nutrición </h5>
					<% else %>
						<h5 class="card-title"> Plan Entrenamiento con Nutrición </h5>
					<% end %>
					<p class="card-title">Precio: $<%= plans.price %> </p>
					<p class="card-text">La duracion del plan <%= plans.duration %> mes o meses</p>
					<p class="card-text"><%= plans.description %> </p>
					<a href="<%= new_plan_contract_path(plans)%>" class="btn btn-success">Contratar</a>
			 	</div>
			</div>
		</div>
	<% end %>
</div>


<div class="container">
	<div class="row">
		<div class="offset-md-5 col-md-3">
			<h5>Preguntas Frecuentes</h5>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
